* {
  font-size: 75px;
}

h1 {
  font-size: 25px;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
}
td:hover {
  background: orange;
  cursor: pointer;
}

table {
  border: 1px solid green;
}